<!DOCTYPE html>
<html lang="cs" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Citát dne</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" type="image/png" href="/images/favicon.png">
<body th:style= "${fotoTed}">
<blockquote th:utext="${citatTed}" ></blockquote>
</body>
</html>



    <!--
    <body th:style="${bodyStyle}">
    <style th:inline="text">
        body {
            "${fotoTed}"
        }
    </style>
</head>
<body>
<blockquote th:text="${citatTed}" ></blockquote>
</body>
</html>
a -->
